.err {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.5);
}

.circle {
    position: relative;
    box-shadow: 12px 11px 11px rgb(0 50 100 / 20%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.circle::before,
.circle::after {
    z-index: -1;
    width: 250px;
    height: 250px;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(45deg, #17bebb, #f0a6ca);
    border-radius: 50%;
    animation: bg 10s linear infinite;
    background-size: 100%;
}

.tittle {
    margin: 0;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2.9em;
    font-weight: 300;
}

.text {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    font-size: 1em;
}

@keyframes bg {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}